body{
    margin: 0;
    padding: 0;
}

.anim-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title{
    font-size: 2.5em;
    color: brown;
    animation: fadeIn 5s;
}

@keyframes fadeIn{
    from { opacity: 0; }
    to{ opacity: 1; }
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 120px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: fit-content;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.5s;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 150px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #3e8e41;
    color: white;
}
